@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KBO Dia Gothic';
    src: url('/fonts/KBO Dia Gothic_light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'KBO Dia Gothic';
    src: url('/fonts/KBO Dia Gothic_medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KBO Dia Gothic';
    src: url('/fonts/KBO Dia Gothic_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@layer base {
    body {
        font-family: 'KBO Dia Gothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
}